.card1 {
 display: flex;
 justify-content: space-around;
 margin-top: 30px;
}
.card2 {
 display: flex;
 justify-content: space-around;
 margin-top: 30px;
}
.card3 {
 display: flex;
 justify-content: space-evenly;
 margin-top: 30px;
}
.add{
 text-align: center;
}
.con{
 padding-left: 600px;
}
.add{
 display: flex;
 justify-content: center;
 gap: 10px;
}
.card {
 display: grid;
 grid-template-columns: 33% 33% 33%;
}
