* {
 padding: 0;
 margin: 0;
}

h1 {
 color: white;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
 border: none;
 width: 400px;
 padding: 40px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: hsla(205, 46%, 30%, 1);
 background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)0%, hsla(205, 46%, 30%, 1)100%);
}